HELP.md
target/
deploy/mongo_storage/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

**.config

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Data ###
us.xml
Users.xml
listings.csv
**.tar
**.7z
**.csv


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### .Net Core ###
**/*.dll
**/*.gz
**/*.cache
**/pdb/
**/obj/
**/bin/
**/*.suo
**/*.testlog